
.api_Sale{
    width: 95.9vw;
}

.title_Sale{
    height: 66px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: #fafafb;
    padding: 0px 30px 0px 30px;
    
}
.title_Sale h1{
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
}

.title_Sale span{
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.title_Sale span h1{
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}

.box_All{
    width: 92vw;
    margin-left: 30px;
    display: flex;
    background-color: #fafafb;
    flex-direction: column;
    align-items: end;
    user-select:none; 
}
.box_Product{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.box_All_Products{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
    margin-top: 15px;
    cursor: pointer;
}

.box_All_Products a{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ff6500;
}
.IconBackward, .IconForward{
    cursor: pointer;
}

.IconBackward{
    margin-right: 20px;
}
.IconForward{
    margin-left: 20px;
}

:host {
    --swiper-theme-color: red;

}



.box_Product .swiper{
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-top: 30px;
    position: relative;
   
}



.prices{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.product_Discount{
    font-size: 1em;
    width: 40px;
    height: 100%;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f17a28;
    border-radius: 4px;
}

.product_Discount_Stock{
    font-size: 13px;
    position: absolute;
    height: 40px;
    display: flex;
    gap: 8px;
}

.product_Stock{
    border: 1px #f17b2a solid;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.745em;
    color: #f17b2a;
   
}


.stockFull{
    font-weight: 800;
    font-size: 0.6153em;
}

.product_Item{
   width: 268px;
   max-width: 268px;
   height: 436px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   transition: 0.3s all ease;
   position: relative;
   border-radius: 5px;
   cursor: pointer;
   background-color: #ffffff;
   z-index: 3;
   margin-right: 12px;
}





/*muda a cor do fundo pra #fafafb e o item pra #ffffff*/

.product_Item:not(:first-child){
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.product_Item:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_Description{
    padding-left: 15px;
    position: relative;
    top: -10px;
}

.product_Description span{
    font-size: 12px;
    color: #565c69;
    line-height: 16px;
    font-weight: 400;
}
.product_Name{
    display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de linhas antes de cortar */
  -webkit-box-orient: vertical;
    width: 236px;
    height: 53px;
    white-space: normal;
    color: #42464d;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-overflow:ellipsis;
    overflow: hidden;
    margin-bottom: 20px;

 }

.image_Description{
    margin-top: 50px;
}
.product_Image{
    color: transparent;
    width: 268px;
    height: 162px;
    object-fit: contain;
   
}



.total_Price{
    text-decoration: line-through;
    font-size: 12px;
    color: #565c69;
    
}

.discount_Price{
    font-size: 20px;
    color: #ff6500;
    font-weight: 700;
    height: 22px;
    display: flex;
    align-items: center;
}

.free_Shipping{
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 10px;
    color: #565c69;
    gap: 4px;
    position: absolute;
}


.IconTruck path{
    fill: rgb(0, 96, 177);
}

.product_Buy{
    display: flex;
   
}

.product_Buy, .product_Buy_Enter{
    width: calc(94% + 3px);
    height: 38px;
    border-radius: 4px;
    margin-left: 6px;
    border: 2px solid #ff6500;
}

.product_Buy_Enter{  
    display: none;
    background-color: #ff6500;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 3px;
}

.buy_Svg{
    background-color: #ff6500;
    width:  56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.buy_Discount_Timer{
  color: #ff6500;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
}

.buy_Discount_Timer strong{
    font-size: 14px;
    font-weight: 700;
    
}

.buy_Enter_Buy{
    color: white;
    font-size: 12px;
}

.buy_Svg_Enter{
    margin-top: 4px;
}
/* ALINHAR OS ITEMS QUE FALTAM, CRIE UMA CAIXA PARA NOME E DEIXE A POSIÇÃO DOS ELEMENTOS PRE DETERMINADA PARA QUE TUDO FIQUE ALINHADO INDEPENDENTE DO NOME OU FRETE*/

@media screen and (max-width: 1440px) {
    .product_Item{
        width: 214px;
        margin-right: 16px;
    }
   .box_Product{
    max-width: 1280px;
   }

   .swiper{
    max-width: 1136px;
   }

   .product_Image{
    width: 214px;
   }

   .product_Name{
    width: 182px;
   }
   
}

@media screen and (max-width: 1350px) {
    
    .api_Sale{
        width: 100vw;
    }

    .box_All{
        width: 100%;
        margin-left: 0;
     
    }

    .IconForward{
        margin-right: 30px;
    }

    .IconBackward{
        margin-left: 30px;
    }

}
@media screen and (max-width: 1020px){

     .box_All{
        display: flex;
        align-items: center;
     
    }

    .IconBackward, .IconForward{
        display: none;
    }

    .product_Discount_Stock{
        font-size: 10px;
    }

    .IconArrowDownChevron{
        width: 12px;
    }
    .product_Item{
        min-width: 290px;
        height: 230px;
    }

    .product_Discount_Stock{
        height: 32px;
    }

    .product_Discount, .product_Stock{
        width: 32px;
    }

    .image_Description{
        display: flex;
    }

    .product_Image{
        width: 107px;
        height: 92px;

    }

    .product_Name{
        width: 155px;
        height: 48px;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 12px;
    }

    .product_Description{
        top: 0;
        padding-left: 0;
    
    }

    .discount_Price{
        font-size: 16px;
        line-height: 18px;
        height: 18px;
    }

    .product_Description span, .total_Price{
        font-size: 10px;
        line-height: 12px;
    }

    .box_Product{
        padding-left: 20px;
    }

    .prices{
        gap: 0;
    }
   
    .title_Sale{
        height: 56px;
    }
    .title_Sale h1{
        font-size: 14px;
        line-height: 20px;
    }
    
    .title_Sale span{
        font-size: 14px;
        line-height: 20px;
    }
    
    .title_Sale span h1{
        display: none;
    }
    
    .box_All_Products{
       margin-right: 0;
    }

    .box_All_Products a{
        font-size: 12px;
        line-height: 18px;
    }

    .IconArrowOrangeRight{
        height: 12px;
    }
}