.banner_Pair{
   width: 92vw;
   background-color: #fafafb;
}

.images_Banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.images_Banner img{
    width: 45vw;
    cursor: pointer;
}

.pair_Brands{
   display: flex;
   flex-direction: column;
   gap: 17px;
   margin-top: 50px;
}

.pair_Title{
    position: relative;
    margin-left: 75px;
}
.pair_Title h1{
    color: rgb(66, 70, 77);
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;
    
}

.IconThumbsUpFilled{
    position: absolute;
    left: -25px;
    bottom: -1px;
}

.pair_Brand h2{
    position: absolute;
    right: 0;
    top: -37px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #ff6500;
    cursor: pointer;
}

.pair_Brand h2 span{
    font-size: 16px;
}

.pair_Title span{
    font-size: 16px;
}
.brands_Box_All{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}
.pair_Brand{
    display: flex;
    position: relative;
}

.brands_Box{
    width: 23%; 
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(40, 41, 61, 0.04) 0px 1px 2px, rgba(96, 97, 112, 0.16) 0px 2px 4px;
    border-radius: 4px; 
    cursor: pointer;
}

.brands_Box img{
    width: 89%;
    height: 180px;
    border-radius: 5px;
}

.brands_Box h1{
    font-weight: 700;
    font-size: 20px;
    color: rgb(66, 70, 77);
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 5px;
}

.all_Products{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ff6500;
    display: flex;
    align-items: center;
}

.all_Products span{
    font-size: 16px;
    margin-left: 3px;
}

.pair_Marker{
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.marker_All{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.marker_Title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 52px 0px 47px;
   

}

.marker_Title h1{
    font-size:  20px;
    line-height: 14px;
    color: #42464d;
}

.title_Text{
    display: flex;
    align-items: center;
    gap: 8px;
}

.title_Button{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ff6500;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.title_Button span{
    display: flex;
    align-items: center;
}


.products_All{
    width: 100%;
    display: flex;
    align-items: center;
}
.marker_Departments{
    display: flex;
    margin: 30px 47px 0px 47px;
    align-items: center;
    gap: 5px;
    user-select:none; 

}

.marker_Swiper{
    display: flex;
    width: 100%;
    user-select:none; 
}

.marker_swiper_Button{
    width: max-content!important;
    padding: 8px 15px 8px 15px;
    border-radius: 4px;
    border: solid 1px #ff6500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;

}

.marker_Next, .marker_Back{
    display: flex;
    align-items: center;
    cursor: pointer;
} 

.marker_Back{
    margin-right: 2px;
}


.marker_swiper_Button h1{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #ff6500;
    white-space: nowrap;
}

.marker_Products{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
    margin-top: 20px;
    cursor: pointer;
    user-select:none; 
}


.IconBackwardPair, .IconForwardPair, .departments_Back, .departments_Next{
    cursor: pointer;
    user-select:none; 
}

.IconBackwardPair{
    margin-right: 20px;
}
.IconForwardPair{
    margin-left: 20px;
}

.swiper_Product{
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    list-style: none;
    position: relative;
  
}

.departments{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    gap: 12px;
    align-items: center;
}

.departments_All{
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 93%;
}
.departments_Title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.departments_Title a{
    display: none;
}

.departments_Text{
    display: flex;
    align-items: center;
    gap: 10px;
}


.departments_Wrapper{
   padding-top: 5px;
   padding-bottom: 5px;
}

.departments_Swiper{
    display: flex;
}

.departments_Items{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.departments_Item{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    gap: 30px;
    min-width: 134px;
}

.departments_Swiper img{
    width: 105px;
    height: 66px;
    object-fit: contain;
}
.departments_Title span{
    display: flex;
    align-items: center;
}
.departments_Title h1{
    font-size: 20px;
    font-weight: 700;
    line-height: 14px;
    color: #42464d;
}

.departments_Item h1{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 8px 0px 8px 0px;
    background-color: #FFFFFF;
    border-radius: 5px;
    min-width: max-content;
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #ff6500;
}

.last_Departments{
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 45px;
}

.most_Search {
    display: flex;
    width: 75%;
    flex-direction: column;
}
.search_Title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search_Title h1{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 14px;
    color: #42464d;
}

.banner_Departments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner_Departments img{
    width: 100%;
    height: 298px;
}


.link_Title{
    display: flex;
    align-items: center;
    color: #42464d;
    line-height: 14px;
    font-size: 20px;
}

.link_Button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    row-gap: 12px;
}

.link_Button .button{
    color:#ffffff;
    font-weight: 600;
    line-height: 16px;
    padding: 2px 8px;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    background-color: #7f858d;
    font-size: 12px;
    cursor: pointer;
}

.link_Button .button:hover{
    background-color: #ff6500;
}

.banner_Products{
    display: flex;
    width: 100%;
    justify-content:space-between;
    margin-top: 40px;
}

.banner_Products img{
    width: 32%;
    max-width: 480px;
    max-height: 210px;
}

.text_Blinking{
    animation: blink 1s infinite;
}

@keyframes blink {
    
    0%, 100% {
        color: white; /* Cor original */
    }
    50% {
        color: red; /* Cor piscando */
    }
}



.prices{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.product_Discount{
    font-size: 1em;
    width: 40px;
    height: 100%;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f17a28;
    border-radius: 4px;
}

.product_Discount_Stock{
    font-size: 13px;
    position: absolute;
    height: 40px;
    display: flex;
    gap: 8px;
}

.product_Stock{
    border: 1px #f17b2a solid;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.745em;
    color: #f17b2a;
   
}


.stockFull{
    font-weight: 800;
    font-size: 0.6153em;
}

.product_Item{
   width: 268px;
   max-width: 268px;
   height: 436px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   transition: 0.3s all ease;
   position: relative;
   border-radius: 5px;
   cursor: pointer;
   background-color: #ffffff;
   z-index: 3;
   margin-right: 12px;
}





/*muda a cor do fundo pra #fafafb e o item pra #ffffff*/

.product_Item:not(:first-child){
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.product_Item:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_Description{
    padding-left: 15px;
    position: relative;
    top: -10px;
}

.product_Description span{
    font-size: 12px;
    color: #565c69;
    line-height: 16px;
    font-weight: 400;
}
.product_Name{
    display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de linhas antes de cortar */
  -webkit-box-orient: vertical;
    width: 236px;
    height: 53px;
    white-space: normal;
    color: #42464d;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-overflow:ellipsis;
    overflow: hidden;
    margin-bottom: 20px;

 }

.image_Description{
    margin-top: 50px;
}
.product_Image{
    color: transparent;
    width: 268px;
    height: 162px;
    object-fit: contain;
   
}



.total_Price{
    text-decoration: line-through;
    font-size: 12px;
    color: #565c69;
    
}

.discount_Price{
    font-size: 20px;
    color: #ff6500;
    font-weight: 700;
    height: 22px;
    display: flex;
    align-items: center;
}

.free_Shipping{
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 10px;
    color: #565c69;
    gap: 4px;
    position: absolute;
}


.IconTruck path{
    fill: rgb(0, 96, 177);
}

.product_Buy{
    display: flex;
   
}

.product_Buy, .product_Buy_Enter{
    width: calc(94% + 3px);
    height: 38px;
    border-radius: 4px;
    margin-left: 6px;
    border: 2px solid #ff6500;
}

.product_Buy_Enter{  
    display: none;
    background-color: #ff6500;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 3px;
}

.buy_Svg{
    background-color: #ff6500;
    width:  56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.buy_Discount_Timer{
  color: #ff6500;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
}

.buy_Discount_Timer strong{
    font-size: 14px;
    font-weight: 700;
    
}

.buy_Enter_Buy{
    color: white;
    font-size: 12px;
}

.buy_Svg_Enter{
    margin-top: 4px;
}

/*ng build --configuration production --output-path docs --base-href /siteKabum/
*/
@media screen and (max-width: 1440px) {

    .banner_Products{
        padding-right: 15px;
    }
    .banner_Products img{
        max-width: 384px;
        max-height: 168px;
    }

    .product_Item{
        max-width: 214px;
        margin-right: 16px;
    }
    .product_Image{
        width: 214px;
    }
    
    .product_Name{
        width: 182px;
    }

    .brands_Box{
        max-width: 286px;
        height: 268px;
    }

    .brands_Box_All{
        gap: 15px;
    }

    .banner_Departments img{
        max-width: 280px;
    }

    
}

@media screen and (max-width: 1350px) {

    .banner_Pair{
        padding-left: 32px;
        padding-right: 32px;
    }

    .marker_Title{
        padding-right: 73px;
    }
  
    .banner_Pair{
        width:100vw;
    }

    .IconForwardPair{
        margin-left: 10px;
       
    }

    .IconBackwardPair{
        margin-right: 10px;
        
    }
  
}

@media screen and (max-width: 1020px) {

    .banner_Pair{
        padding-right: 0;
    }
   
    .banner_Departments{
        flex-direction: row;
        justify-content: space-between;
        width: auto;
    }

    .banner_Departments img{
        width: calc(30vw + 15px);
        max-width: 350px;
    }

    .last_Departments{
        flex-direction: column;
    }

    .most_Search{
        width: 100%;
    }

    .marker_Departments{
        margin: 30px 0px 0px 0px;
    }
    .marker_Title{
        padding: 0px 2px 0px 0px;
    }

    .IconBackwardPair, .IconForwardPair{
        display: none;
    }

    .departments_All{
        width: 100%;
    }

    .departments_Back, .departments_Next{
        display: none;
    }
    .product_Discount_Stock{
        font-size: 10px;
    }

    .IconArrowDownChevron{
        width: 12px;
    }
    .product_Item{
        min-width: 290px;
        max-height: 230px;
    }

    .product_Discount_Stock{
        height: 32px;
    }

    .product_Discount, .product_Stock{
        width: 32px;
    }

    .image_Description{
        display: flex;
    }

    .product_Image{
        width: 107px;
        height: 92px;

    }

    .product_Name{
        width: 155px;
        height: 48px;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 12px;
    }

    .product_Description{
        top: 0;
        padding-left: 0;
    
    }

    .discount_Price{
        font-size: 16px;
        line-height: 18px;
        height: 18px;
    }

    .product_Description span, .total_Price{
        font-size: 10px;
        line-height: 12px;
    }

    .box_Product{
        padding-left: 20px;
    }

    .prices{
        gap: 0;
    }
   
    .title_Sale{
        height: 56px;
    }
    .title_Sale h1{
        font-size: 14px;
        line-height: 20px;
    }
    
    .title_Sale span{
        font-size: 14px;
        line-height: 20px;
    }
    
    .title_Sale span h1{
        display: none;
    }
    
    .box_All_Products{
       margin-right: 0;
    }

    .box_All_Products a{
        font-size: 12px;
        line-height: 18px;
    }

    .IconArrowOrangeRight{
        height: 12px;
    }
    .marker_All{
        width: 100%;
    }
    .marker_Back, .marker_Next{
        display: none;
    }
    .pair_Title{
        margin-left: 52px;
    }
    .pair_Title h1, .title_Text h1{
       font-size: 16px;
    }

    .pair_Brand h2{
        top: -37px;
        font-size: 12px;
    }

    .brands_Box{
        max-width: 238px;
        height: 168px;
    }

    .brands_Box_All{
        gap: 15px;
    }

    .brands_Box h1, .title_Button{
        font-size: 12px;
        
    }

    .all_Products{
        font-size: 10px;
        line-height: 18px;
    }

    .departments_Text svg{
        width: 18px;
        height: 14px;
    }
    .departments_Text h1{
        font-size: 16px;
    }
    .departments_Title a{
        display: flex;
     }
}

 @media screen and (max-width: 600px){

    .brands_Box_All{
        gap: 20px;
    }
 .images_Banner{
    flex-wrap: wrap;    
 }  

 .images_Banner img{
    width: 93vw;
 }

 .brands_Box{
    width: 40%;
    max-width: 250px;
    height: 134px;
 }

 .brands_Box img{
    height: 84px;
 }

 .brands_Box h1{
    margin-bottom: 0;
 }

.departments_Item{
    gap: 20px;
}
 }


 @media screen and (max-width: 350px) {
    .pair_Title h1{
        font-size: 14px;
    }

    .pair_Brand h2{
        font-size: 10px;
    }

    .title_Text h1{
        font-size: 14px;
    }

    .title_Button{
        font-size: 10px;
    }

 }