.product_Box{
    display: flex;
    margin-top: 50px;
    width: 95.9vw;
    flex-direction: column;
    border-top: 1px #dee0e4 solid ;
    position: relative;
}

.box_Show_Information{
    display: flex;
    width: 95.9vw;
    gap: 15px;
    margin-left: 30px;
    position: relative;
}


.name_Product{
    width: 95.9vw;
    max-height: 70px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #42464d;
    margin-top: 40px;
    position: absolute;
    top: 0;
}
.box_Show_All{
    width: 49%;
    margin-top: 124px;
}
.box_Show{
    display: flex;
    flex-direction: column;
}

.show_Subtitle{
    display: flex;
    height: 55px; 
  
}

.subtitle_Brand{
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.subtitle_Brand img{
    width: 70px;
    height: 28px;
}

.subtitle_Brand::after, .subtitle_Avaliation::after{
    content: "";
    border-right: #dee0e4 1px solid;
    height: 30px;
    position: absolute;
    right: 0;
}


.subtitle_Avaliation{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.subtitle_Share_Like{
    width: 33.33%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.share, .like{
    display: flex;
}

.show_Item{
    display: flex;
    user-select:none;  
  
}

.all_Item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;  
    height: 370px;
}

.item_Selection{
    flex: 1;
    display: block;
    overflow: hidden;
    height: 100%;
}
.swiper_Focus{
    flex: 1;
    height: 100%;
}


.arrow_Top{
    position: absolute;
    top: -30px;
    cursor: pointer;
   
}
.arrow_Back{
    position: absolute;
    bottom: -30px;
    cursor: pointer;
 
}
.swiper_Navigation{
    display: flex;
    align-items: center;
    gap: 5px;
}
.swiper_Radio{
    display: none;
}

.swiper_Radio_Label{
  display: inline-block;
  width: 7px;       
  height: 7px;        
  background-color: #b6bbc2; 
  border-radius: 50%;
  cursor: pointer;
}

.swiper_Radio:checked + .swiper_Radio_Label{
   background-color: #ff6500;
}
/* manda pra eles apenas as imagens sem do mesmo productId*/
.focus_Selection{
    width: 50px;
    height: 56px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #dee0e4;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}
.focus_Selection img{
    width: 40px;
    height: 44px;
    object-fit: cover;

}

.swiper_MobileMain{
    display: flex;
    width: 47vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.product_Mobile{
    object-fit: cover;
}

.product_Mobile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper_MobileMain img{
    width: 250px!important;
    height: 100%;
  
}
.item_Focus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44vw;
    height: 416px;
    cursor: pointer;
    overflow: hidden;
    cursor: zoom-in;
}
.item_Focus img{
    width: 53%;
    height: 90%;
    transition: opacity 0.4s ease;
}

ng-magnizoom{
    cursor: zoom-out;
    opacity: 0;
    width: 0;
    height: 0;
    transition: opacity 0.6s ease;
}


.box_Cep{
   
}


.box_Information{
    width: 100%;
    margin-top: 124px;
}

.information_Offer{
    height: 170px;
    background-image: url("https://themes.kabum.com.br/conteudo/oferta/311/banner/1715197604mega-maio_descricao.png");
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer_Time{
    display: flex;
    align-items: center;
    justify-content:end;
    height: 80px;
    padding-right: 20px;
    color: white;
}

.offer_Time h1{
    font-size: 24px;
    line-height: 34px;

}

.offer_Time span{
    display: flex;
    align-items: center;
    margin-left: 5px;
    gap: 15px;
    min-width: max-content;
}
.offer_Time strong{
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
}

.box_Discount_Stock{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    padding-top: 16px;
    
}

.discount{
    display: flex;
    width: 50%;
    height: 35px;
    gap: 10px;
    position: relative;
    padding-left: 20px;
}

.box_Discount_Stock::after{
    content: "";
    border-right: 1px white solid;
    height: 46px;
    position: relative;
    right: 50%;
    bottom: 2px;
}

.discount h1{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: max-content;
    align-items: center;
}

.discount_Figure{
   display: flex;
   align-items: center;
}

.stock{
    display: flex;
    position: relative;
    justify-content: end;
    padding-right: 20px;
    gap: 10px;
    width: 50%;
    height: 35px;
    right: 0;
}
.stock_Figure{
    display: flex;
    align-items: center;
}

.stock_Quantity{
    display: flex;
    width: max-content;
    align-items: center;
}

.stock_Quantity h1{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    width: max-content;
}
.stock_Quantity strong, .discount strong{
    font-size: 24px;
    line-height: 34px;
    margin-left: 10px;
}
.box_Prime{
    background-color: black;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 12px;
    border-radius: 6px;
}

.prime_Ninja{
    display: flex;
    align-items: center;
    height: 100%;
}

.prime_Pay{
    display: flex;
    align-items: center;
}
.box_Prime h1{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}


.information_Price{
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    gap: 10px;
}
.price_Subtitle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.price_Subtitle h1:last-child{
    color: #ff6500;
    font-weight: 600;
}

.price_Subtitle h1{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #42464d;
}

.price_Subtitle_Mobile{
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    display: none;
}
.price_Subtitle_Mobile h1{
    font-size: 12px;
}

.price_Subtitle strong:last-child{
    color: rgb(31, 144, 80);
}

.buy_Price{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #7f858d;
    text-decoration: line-through;
}

.discount_Information h1{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #ff6500;
}

.discount_Information h2{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(86, 92, 105);
}

.buy_Discount{
    display: flex;
    justify-content: space-between;    
    
}
.buy_Button, .buy_ButtonMobile{
    display: flex;
    gap: 10px;
   
}

.buy_ButtonMobile{
    display: none;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.buy_ButtonMobile .button_Comprar{
    width: 100%;
}

.buy_ButtonMobile .button_Cart{
    width: 17%;
}
.button_Comprar{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #ff6500;
    font-size: 16px;
    color: white;
    cursor: pointer;
}


.button_Cart{
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #ff6500;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.price_Card{
    width: auto;
}
.price_Card strong, .price_Card h1{
    font-size: 14px;
    line-height: 20px;
    color: rgb(86, 92, 105);
}

.price_Card h1{
    font-weight: 400;
}

.price_Buy_Options h1{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #565c69;
    text-decoration: underline;
}

.siblings_Title{
    display: flex;
    align-items: center;
    gap: 7px;
}

.siblings_Title h1{
    font-size: 16px;
    line-height: 28px;
    color: #42464d;    
}

.siblings_Title span{
    margin-top: 4px;
   
}
.siblings_Maker h1{
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    color: #565c69;
}

.siblings_Maker strong{
    font-weight: 600;
    color: #42464d;
}

.siblings_Swiper{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
    

}

.swiper_All{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.siblings_Wrapper{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    display: flex;
    gap: 40px;
}

.siblings_Slide{
    display: flex;
    flex-direction: column;
    max-width: max-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}
.siblings_Slide img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.siblings_Slide h1{
    font-size: 16px;
    line-height: 28px;
    color: #ff6500;
}

.siblings_Back, .siblings_Next{
    cursor: pointer;
    position: absolute;
}

.siblings_Back{
    left: -35px;
}

.siblings_Next{
    right: -32px;
}

.buy_Mobile_Fixed{
    display: none;
    height: 80px;
    padding: 0px 16px;
    width: 100%;
    transform: translateY(80px);
    background-color: #ffff;
    transition: all 0.5s ease;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.price_Buy_Mobile{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.price_Buy_Mobile h1{
    font-weight: 600px;
}

.buy_Button_Fixed{
    display: flex;
    align-items: center;
    min-width: max-content;
    gap: 5px;
}

.buy_Button_Fixed .button_Cart{
    width: 15vw;
    height: 48px;
}

.buy_Button_Fixed .button_Comprar{
    width: 45vw;
}

.show_Item_Mobile{
    display: none;
    user-select: none;
}

.name_ProductMobile{
    display: none;
    position: relative;
}
@media screen and (max-width: 1020px) {

    .box_Discount_Stock{
        padding-top: 0;
    }
   .stock_Figure, .discount_Figure{
    display: none;
   }

   .discount{
    justify-content: center;
    padding-left: 0;
   }
   .stock{
    padding-right: 0;
    justify-content: center;
   }
   .stock_Quantity h1, .discount h1{
    text-align: center;
    width: min-content!important;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 18px;
   }

   .stock_Quantity strong, .discount strong{
        font-size: 20px;
        line-height: 24px;
   }

   .offer_Time h1, .offer_Time strong{
    font-size: 13px;
    line-height: 18px;
   }

   .offer_Time svg{
    width: 11px;
    height: 12px;
   }

   .offer_Time{
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .offer_Time span{
    gap: 7px;
   }

   .offer_Time svg{
    margin-bottom: 2px;
   }

   .buy_Button{
    display: none;
   }

   .buy_ButtonMobile{
    display: flex;
   }
   
   .show_Item_Mobile{
    display: flex;
    justify-content: center;
    }

    .show_Item{
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .product_Box{
        width: 100%;
        flex-direction: column;
    }

    .buy_Mobile_Fixed{
        display: flex;
        
    }

    .box_Show_Information{
        margin-left: 0;
        width: 100%;
        flex-direction: column;
    }

    .name_Product{
        font-size: 14px;
        line-height: 20px;
        margin-top: 20px;
        display: none;
    }

    .name_ProductMobile{
        display: flex;
        margin-left: 16px;
    }

    .box_Show_All{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 16px;

    }

    .box_Information{
        margin-top: 0px;
        width: 100%;
    }

    .swiper_MobileMain{
        width: 65vw;
      
    }
    .swiper_MobileMain img{
        width: 99%!important;
        max-width: 330px;
       
    }

    .price_Subtitle{
        display: none;
    }

    .box_Cep{
        display: none;
    }
    
    .box_Show_All{
        margin-top: 0;
    }

    .price_Subtitle_Mobile{
        display: flex;
    }

    .information_Price{
        padding-left: 16px;
    }
}