
.banner{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide_Images{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content:start;
    max-width: 95.9vw;
    background-color: #ffa500;

    
}

.banner input{
    display: none;
}

.manual-navigation{
    gap: 5px;
    width: 100vw;
    bottom: 25px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;

}

.manual-btn{
    width: 30px;
    height: 6px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;

    align-items: center;
}


.btn_Pause{
  width: 31px;
  height: 31px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.filling{
  background-color: #ffa500;
  width: 0px;
  height: 6px;
  border-radius: 5px;
}

.btn_Play{
  width: 30px;
  transition: width 7s;
}

.image{
  transition: all 0.5s ease;

}
.image img{
  width: 95.9vw;
  transform: translateX(0px);
}


#radio_1:checked ~ .slide_Images .first{
   margin-left: 0;
}

#radio_2:checked ~ .slide_Images .first{
   margin-left: -100%;
 }

 #radio_3:checked ~ .slide_Images .first{
    margin-left: -200%;
  }
 
  #radio_4:checked ~ .slide_Images .first{
    margin-left: -300%;
  }
 
  #radio_5:checked ~ .slide_Images .first{
    margin-left: -400%;
  }
 
  #radio_6:checked ~ .slide_Images .first{
    margin-left: -500%;
  }
 
  #radio_7:checked ~ .slide_Images .first{
    margin-left: -600%;
  }
 
  #radio_8:checked ~ .slide_Images .first{
    margin-left: -700%;
  }
 
  #radio_9:checked ~ .slide_Images .first{
    margin-left: -800%;
  }
 
  #radio_10:checked ~ .slide_Images .first{
    margin-left: -900%;
  }

  #radio_11:checked ~ .slide_Images .first{
    margin-left: -1000%;
  }
 

@media screen and (max-width: 1350px) {
  .slide_Images{
    max-width: 100vw;
  }

  .image img{
    width: 100vw;
  }

}

 @media screen and (max-width: 600px){
  .image img{
    height: 34vw;
  }

  .manual-btn{
    width: 20px;
  }

  .btn_Play{
    width: 20px;
  }

  .btn_Pause{
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    height: 24px;
  }

  .manual-navigation{
    gap: 7px;
    bottom: 20px;
  }
  
 }


 @media screen and (max-width: 400px){
  .btn_Pause{
    min-width: 20px;
    min-height: 20px;
    height: 20px;
    width: 20px;
  }

  .IconPause{
    width: 10px;
    height: 20px;
  }
  
 }
